<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - BelajarKod</title>
    {% endblock%}
</head>
<body>
    <div>BelajarKod:
        <a href="{{ url_for('index') }}">Laman Utama</a>
        | <a href="{{ url_for('all_guides') }}">Panduan</a>
    </div>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        {% block footer %}
        &copy; Copyright 2017 by
        {% endblock %}
    </div>
</body>
</html>