{% extends "base.html" %}
{% block title %} Selamat Datang{% endblock %}
{% block content%}
<h1>BelajarKod</h1>
<p>Ingin belajar kod dalam Bahasa Malaysia? Berikut adalah koleksi tutorial yang telah ditulis oleh jurutera 'software' yang berbakat! Kami mempunyai sebanyak {{guides|length}} tutorial!</p>
<div>
{% if guides%}
<ul>
{% for guide in guides: %}
    <li>
        <a href='{{url_for("show_guide", guide_id=guide.id) }}'>{{guide.title}}</a>
    </li>
{% endfor %}
</ul>
{% else %}
<h3>Oops! Nampaknya tiada panduan lagi dialam laman web kami! Sila layari balik pada masa hadapan!</h3>
{% endif %}
{% endblock %}
